:root {
	--num-nav-items: 5;
	--margin-side: 20vw;
	font-size: 1.2vw;
	line-height: 1.5;
}

h1,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0;
	/*font-size: 20px;*/
}

p,
ul {
	margin: 0;
	padding-bottom: 1rem;
	/*font-size: 18px;*/
	
}

ul {
	padding-left: 2rem;
}

a {
	text-decoration: none;
	color: #0088ff;
}

c{
	text-decoration: none;
	color: #f0f0f0;
}

a:hover {
	color: #4169e1;
}

body {
	margin: 0;
	background-color: #c2dcf2;
}

header h1,
header h4,
nav#header ul,
main,
footer h4,
footer p {
	margin-left: var(--margin-side);
	margin-right: var(--margin-side);
}

header {
	padding-top: 4rem;
	padding-bottom: 12rem;
	width: 100%;
	background: url(img/miyajima.jpg) right center/cover;
}

nav#header {
	background-color: #f0f8ff;
}

nav#header ul {
	padding: 0;
	list-style: none;
	display: flex;
}

nav#header ul li a {
  display: block;
  width: calc((100vw - 2.2 * var(--margin-side)) / var(--num-nav-items));
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #2D5585;
  border: 4px groove #e6e6fa;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  
  @media screen and (max-width:480px) {
      width: calc((100vw - 4 * var(--margin-side)) / var(--num-nav-items));
      font-size: 2vw;
  }
}

nav#header ul li a:hover {
  background-color: #ffffff;
  color: #4169e1;
  transform: scale(1.1);
}

main {
	padding-top: 1rem;
        color: #000000;
}

section {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

img.logo {
	width: 6rem;
	margin-left: 2rem;
}

nav#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

img.to_top {
	padding: 0.5rem;
	width: 3rem;
}

@media screen and (max-width:480px) {

	:root {
		--margin-side: 10vw;
		font-size: 3vw;
	}

}


/*フッター
-------------------------------------*/
footer {
	padding-top: 1rem;
	padding-bottom: 3rem;
	background-color: #426075;
	color: #eaeaea;
}

footer a {
	color: #fc9d65;
}

footer a:hover {
	color: #fde3d3;
}


/*ページトップへ戻るボタン
-------------------------------------*/
#pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#pagetop a {
    display: block;
    background-color: var(--base-color);
    color: var(--white-color);
    width: 50px;
    padding: 10px 5px;
    text-align: center;
}
#pagetop a:hover {
    background-color: var(--link-color);
}
